<div class="container">

  <!-- <h1><a href="<%= @path %>">Hacker News Mini</a></h1> -->

  <% @entries.each do |item| %>
    <div class="item">
      <h2>
        <% if item.link.site %>
          <a href="<%= item.link.href %>"><%= item.link.title %></a>
        <% else %>
          <a href="http://ihackernews.com/comments/<%= item.id %>"><%= item.link.title %></a>
        <% end %>
      </h2>
      <p><%= item.voting.score %> points &mdash; <%= item.time.strftime('%m/%d/%Y, %I:%M%p') %> &mdash; <em><%= item.link.site %></em></p>
      <p>
        <% if item.link.site %>
          <a href="http://viewtext.org/article?url=<%= item.link.href %>" class="btn">Article text</a>
        <% end %>
        <a href="http://ihackernews.com/comments/<%= item.id %>" class="btn"><%= item.comments_count %> comments</a></p>
      <div class="comments" style="display:none;">
        <% item.comments.each do |comment| %>
          <%= comment.text %>
        <% end %>
      </div>
    </div>
  <% end %>
<% if @next_page or @prev_page %>
  <% if @prev_page and @prev_page != 0 %>
  <a href="<%= @path %>/page/<%= @prev_page %>" class="btn primary">Previous Page</a>
  <% end %>
  <a href="<%= @path %>/page/<%= @next_page %>" class="btn primary">Next Page</a>
<% end %>

</div>