<div class="container">

  <!-- <h1><a href="<%= @path %>">Hacker News Mini</a></h1> -->

  <% @entries.each do |item| %>
    <% begin item.id %>
      <% if item.voting.score %>
        <div class="item">
          <div class="number"><%= item.number %></div>

          <h2>
            <% if item.link.site %>
              <a href="<%= item.link.href %>"><%= item.link.title %></a>
            <% else %>
              <a href="http://ihackernews.com/comments/<%= item.id %>"><%= item.link.title %></a>
            <% end %>
          </h2>

          <p class="meta">
            <%= item.voting.score %> points &mdash; <a href="http://news.ycombinator.com/item?id=<%= item.id %>"><%= item.comments_count %> comments</a> &mdash; <%= item.link.site %>
          </p>
        </div>
      <% end %>
    <% rescue %>
    <% end %>
  <% end %>
<% if @next_page or @prev_page %>
  <div class="pagination">
    <% if @prev_page and @prev_page != 0 %>
    <a href="<%= @path %>/page/<%= @prev_page %>" class="btn primary">Previous Page</a>
    <% end %>
    <a href="<%= @path %>/page/<%= @next_page %>" class="btn primary">Next Page</a>
  </div>
<% end %>

</div>