<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Hacker News - <%= @title %></title>
	<meta name="description" content="hacker news mobile, hacker news, hacker news bootstrap">
	<meta name="author" content="Josh Ellington">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="<%= @path %>/apple-touch-icon.png">
  <link href='http://fonts.googleapis.com/css?family=Domine:400,700' rel='stylesheet' type='text/css'>
	<!-- <link rel="stylesheet" href="<%= @path %>/css/twitter-bootstrap.css"> -->
	<link rel="stylesheet" href="<%= @path %>/css/style.css?v=3">

	<!-- <script src="<%= @path %>/js/libs/modernizr-1.7.min.js"></script> -->
</head>
<body>

  <nav>
    <ul class="menu">
      <li class="first"><a href="/">Hacker News</a></li>
      <li> &mdash; </li>
      <li><a href="http://news.ycombinator.com/submit">Submit</a></li>
      <li><a href="http://www.hnsearch.com/">Search</a></li>
      <li><a href="<%= @path %>/ask">Ask</a></li>
      <li><a href="<%= @path %>/new">New</a></li>
      <!-- <li><a href="<%= @path %>/about">about</a></li>
      <li><a href="#">settings</a></li> -->
    </ul>
  </nav>

	<div id="wrapper">

		<%= yield %>
	
	</div>

	<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25518076-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
	</script>

</body>
</html>